*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container-center {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

li .icon{
    font-size: 20px;
}